<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!-- 這邊的href路徑/bootstrap是自己在index設定的, 後面/css之後的是要的css在原本資料夾中的位置 -->
  </head>
  <body>